@media(-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5)
	.border-1px
		&::after
			-webkit-transform: scaleY(0.7)
			transform: scaleY(0.7)
			
@media(-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2)
	.border-1px
		&::after
			-webkit-transform: scaleY(0.5)
			transform: scaleY(0.5)

::-webkit-scrollbar {
    width: 0px;
    height: 1px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 1px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 1px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 1px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 1px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 1px;
}


.split
	height:16px
	width:100%
	background-color:#f3f5f7
	box-shadow:0 -1px 1px rgba(7,17,27,.1) inset
	&::after
		display:block
		content:''
		height:1px
		width:100%
		box-shadow:0 1px 1px rgba(7,17,27,.1)